@import "./mixins/mixins";
@import "./variables/variables";
footer{
    @include centrar-start-flex;
    flex-direction: row;
    img{
        width: 6rem;
    }
    h2{
        color: white;
    }
    margin-top:50px;
    max-width: 100%;
    height:200px;
    background-color:$color-primario;
}
