@media screen and (max-width: 767px) {
    .logo{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .secciones-beneficios{
        height: 100%;
        margin-bottom: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .imagenmain{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .contenedor-imagen{
        img{
            display: none;
        }
    }
}
@media screen and (min-width: 768px) {
    .contenedor-circular{
        background-color: white;
    }
}
@media screen and (min-width: 991px) {
    .contenedor-circular{
        background-color: #ECF4FF;
    }
}
@media screen and (max-width: 455px) {
    .secciones-beneficios{
        height: 100%;
        margin-bottom: 1000px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .texto-descripcion{
        display: none;
    }
}
@media screen and (min-width: 455px) {
    .mainindex{
        margin-bottom: 200px;
    }
}
@media screen and (max-width: 800px) {
    .secciones-beneficios{
        height: 100%;
        margin-bottom: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .beneficiosimg{
        img{
            display: none;
        }
    }
}
@media screen and (max-width: 666px) {
    .secciones-beneficios{
        height: 100%;
        margin-bottom: 700px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 450px) {
    .secciones-beneficios{
        height: 100%;
        margin-bottom: 1400px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .grilla{
        margin-top: 1rem;
        margin-left: 0rem;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas: 
        "logo texto"
        "logo2 texto2";
        .beneficios-icon{
            grid-area: logo;
        }
        .texto{
            grid-area: texto;
        }
        .beneficios-icon-2{
            grid-area: logo2;
        }
        .texto2{
            grid-area: texto2;
        }
    }
}

@media screen and (max-width: 1441px) {
    .column{
        margin-left: 2%;
    }
}
@media screen and (max-width: 2561px) {
    .column{
        margin-left: 2%;
    }
}
@media screen and (max-width: 425px) {
    .tituloMain{
        margin-bottom: 20px;
    }
    .secciones-beneficios{
        height: 100%;
        margin-bottom: 1400px;
        width: 100%;
        display: flex;
        justify-content: center;
    }   
    .column{
        margin-left: 15%;
    }
}
@media screen and (max-width: 375px) {
    .secciones-beneficios{
        height: 100%;
        margin-bottom: 1400px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 321px) {
    .tituloMain{
        font-size: 2rem;
    }
    .column{
        margin-left: 3%;
    }
}
@media screen and (max-width: 321px) {
    .secciones-beneficios{
        height: 100%;
        margin-bottom: 1400px;
        width: 100%;
    }
}
@media screen and (max-width: 1921px) {
    *{
        .secciones-beneficios{
            margin-top: 20px;
            height: 569px;
        }
        .secciones{
            margin-top: 150px;
            height: 800px;
        }
    }
}
@media screen and (max-width: 1441px) {
    *{
        .secciones{
            margin-top: 30px;
            height: 600px;
        }
    }
}
@media screen and (min-width: 500px) {
    .mainindex{
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1920px) {
    .secciones-beneficios{
    height: 100vh;
    }
    .tarjetas{
        height: 100vh;
    }
    .versaldoseccion{
        height: 100vh;
    }
}
@media screen and (min-width: 2560px) {
    .secciones-beneficios{
        height: 100vh;
    }
    .mainindex{
        height: 100vh;
    }
}
@media screen and (min-width: 1921px) {
    .mainindex{
        height: 100vh;
    }
}